<footer>
    <div class="wrapper">
        © 2018 - LoftShool Выпускной проект №2
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../../js/sweetalert2.min.js"></script>
<script src="../../js/edituserinfo.js"></script>
<script src="../../js/fileslist.js"></script>
<script src="../../js/comment.js"></script>
</body>
</html>
