<nav class="nav-admin">
    <div class="wrapper">
        <div class="admin-login">
            <a href="/admin">Пользователь - {{ login | upper }}</a>
        </div>
        <div class="admin-panel-caption">
            Панель управления
        </div>
        <div class="admin-panel-logout">
            <a href="/user/logout">Выйти</a>
        </div>
    </div>
</nav>
